<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.rank.mapper.product.ProductViewMapper">
    <select id="productViews" resultType="com.market.rank.dto.response.ResPrdsDto" parameterType="map">
         select
         p.title as title,
         p.prd_id as prd_id,    
         case when p.bid_cnt = 0 then p.sell_prc else max(a.bid_price) end as sell_price,    
         to_char(p.end_dtm, 'yyyy-MM-dd hh:mm'),     
         case when (select usr_id from wish_lists where usr_id = #{usrId} and prd_id = p.prd_id) is null     
         then 0 else 1 end as wish,     
         p.high_prc as high_price     
         from product p     
         left join files f on f.prd_id = p.prd_id     
         left join auction a on a.prd_id = p.prd_id     
        <if test= "search != null" >
            where p.prd_id = #{prdId}
        </if>
         group by p.title, p.prd_id, p.sell_prc, p.end_dtm, p.high_prc, p.bid_cnt, p.sell_prc     
         order by p.end_dtm desc     
         OFFSET 0 ROWS FETCH NEXT 20 ROWS ONLY;

    </select>
</mapper>